* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root {
    font-size: 62.5%;
}
div.hide {
    display: none;
}

body {
    

    display: grid;
    place-items: center;
    height: 100vh;
}
#screen1 {
 
    padding: 4.8rem 6.4rem;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

    width: 43.0rem;
    height: 43.0rem;
}

#screen1 img {
    cursor: pointer;
    }
#screen2 {
 
    padding: 4.8rem 6.4rem;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

    width: 43.0rem;
    height: 55.0rem;
    
    

    
     
}

#screen2 button {
    display: grid;
    align-items: center;
}

h1 {
    color: #34355B;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 1.4rem;
}

h2 {
    color: #34355B;

    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;

    margin-bottom: 1.7rem;
    
}

p {
    color: #34355B;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.5rem;

    font-weight: 400;
    line-height: normal;

    margin-bottom: 2.0rem;
}


body {
    background: linear-gradient(45deg, #190361, #bb00ff);
		animation: gradient 10s ease infinite;
    background-size: 200% 200%;
  }

.message-sorte {
    width: 30.0rem;

    margin-bottom: 1.7rem;
}

button  {
    
    width: 17.5rem;
    height: 5.0rem;
    background: #FF9500;

    border: none;
   
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}